<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Moment Photography</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Moment Photography</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#myPage">HOME</a></li>
                <li><a href="#band">About</a></li>
                <li><a href="#tour">Packages</a></li>
                <li><a href="#contact">Gallery</a></li>
                <li><a href="#Connect">Connect</a></li>
            </ul>
        </div>
    </div>
</nav>

    <div class="responsive" >
        <img src="images/background_image.jpg" class="img-responsive" alt="loving fingers" >
    </div>


<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
    <h3>ABOUT US</h3>
    <p><em>History!</em></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec justo ipsum, consequat sit amet malesuada eget, consequat vulputate magna.
        Donec auctor porttitor tincidunt. Integer nec dolor quis justo sagittis consequat.
        Mauris at commodo ante. Mauris rutrum dolor nec mi venenatis accumsan.
        Phasellus a lectus id tellus maximus posuere sit amet sit amet risus.
        Cras iaculis imperdiet est, eu facilisis risus fermentum sit amet.
        Suspendisse rutrum sapien molestie, hendrerit purus at, ullamcorper urna.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Nullam rhoncus faucibus justo, non viverra elit convallis at.
        Curabitur laoreet enim orci, sed vulputate lacus congue eget.
        Curabitur gravida pellentesque dolor sed vehicula. Mauris nec vehicula ex.</p>
    <br>
</div>

<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1">
    <div class="container">
        <h3 class="text-center">PACKAGES CHOICE</h3>
        <p class="text-center">Frame your memory with one of our special packages.<br> we highly appreciate your business with us</p>

        <div class="img-responsive">

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/christmas.jpg" alt="Basics">
                    <p class="pack-title"><strong>Christmas Package</strong></p>
                    <p class="pack-text">Limited up to 500 pieces</p>
                    <button class="btn" >Sign up</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/wedding.jpg" alt="Premium" >
                    <p class="pack-title"><strong>Wedding Package</strong></p>
                    <p class="pack-text">$50/month...</p>
                    <button class="btn"  >Sign up</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/family.jpg" alt="Golden" >
                    <p class="pack-title"><strong>Family Package</strong></p>
                    <p class="pack-text">$100/month</p>
                    <button class="btn" >Sign up</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>We love our fans!</em></p>

    <div class="row">
        <div class="col-md-4">
            <p>Fan? Drop a note.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span>Washington, US</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +206-666-6666</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: nayaz@mail.greenriver.edu</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" >
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" d>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>cennect with us on social media <a href="" > </a></p>
</footer>


</body>
</html>
