<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moment Photography</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<!--Body Section-->
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Capture Moments</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="home">HOME</a></li>
                <li><a href="#packages">Packages</a></li>
                <li><a href="connect">Connect</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Package Section -->
<div id="packages" class="bg-1 ">
    <div class="container ">
        <h3 class="text-center ">PACKAGES CHOICE</h3>
        <p class="text-center">Frame your memory with one of our special packages.<br> we highly appreciate your business with us</p><br>

        <div class="img-responsive">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/christmas.jpg" alt="Basics"><br>
                    <p class="pack-title mt-4 pt-5"><strong>Christmas Package</strong></p>
                    <ul class="pl-5">
                        <li>Limited up to 500 pieces</li>
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                    </ul><br>
                    <button class="btn" id="christmas">Learn Move >></button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/wedding.jpg" alt="Premium" ><br>
                    <p class="pack-title"><strong>Wedding Package</strong></p>
                    <ul class="pl-5">
                        <li>Limited up to 500 pieces</li>
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                    </ul><br>
                    <button class="btn" id="wedding">Learn Move >></button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/family.jpg" alt="Golden" ><br>
                    <p class="pack-title"><strong>Family Package</strong></p>
                    <ul class="pl-5">
                        <li>Limited up to 500 pieces</li>
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                    </ul><br>
                    <button class="btn" id="family">Learn Move >></button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center" >
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>connect with us on social media <a href="" > </a></p>
</footer>

<script>
    $("#christmas").on("click", function () {

    });
</script>
</body>
</html>
