body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: black;
    background-color: #b3ccff;
}
#contact{
    background-color: #b3ccff;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;

    color: #790c0c;
}

.container {
    padding: 80px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.bg-1 {
    background: #b3ccff;
    color: black;
}
.bg-1 h3 {color: #790c0c }
.bg-1 p {font-style: italic;}


.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color:#0059b3;
}
.btn {
    margin-left: 70px;
    padding: 10px 20px;
    background-color: #001a33;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover, .btn:focus {
    border: 1px solid #001a33;
    background-color: #fff;
    color: #001a33;
}

.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #001a33;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #000d1a !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #001a33 !important;
}

.glyphicon{
    color: #001a33;
}
.pack-text{
    padding-left: 20px;
}
.pack-title{
    padding-left: 20px;
}

footer {
    background-color: #001a33;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}
.connect{
    margin-top: 60px;
    margin-bottom: 40px;
}
select {
    width: 150px;
    margin: 10px;
}

